{% extends "website/layouts/layout.html" %}    
{% load static %}

{% block content %}
<div id="page-content">
<!-- Top banner-->
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>About US</h1>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container cmspage">
    <p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; line-height: 1.2; text-align: justify;">
<span style="font-size: 11pt; font-family: Calibri; background-color: transparent; vertical-align: baseline; white-space: pre-wrap;">Hssaima is inspired by the regal era of fashion, full of opulence and glamour. Our designs emulate the Arabian heritage with a touch of modern elements and silhouettes. We offer original designs, tailor-cut to your specific fit and custom-made to your desired colors and fabrics.
    
    </span></p>

   

    <td alignment ="center" valign="top"style=" border:black;  border-radius: 2px;"> 
        <table alignment ="center" borderRadius="2%" height="100" width="620">
        
        
        </td>
</div>
</div>
<!--End Body Content-->


{% endblock content %}