{% extends "website/layouts/layout.html" %}    
{% load static %}

{% block content%}
<div id="page-content">
<!-- Top banner-->
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>Contact US</h1>
                </div>
            </div>
        </div>

    </div>
</div>
    <td alignment ="center" valign="top"style=" border:black;  border-radius: 2px;"> 
        <table alignment ="center" borderRadius="2%" height="100" width="620">
        
        <tr>
        <td>Phone No.:</td> 
        <td>00971507295980</td>
        </tr>
        
        <tr>
        <td>Address:</td> 
        <td>Global golf resisence 2, sports city, Dubai</td>
        </tr>
        </table>
        
        
        </td>
</div>
</div>
<!--End Body Content-->
{% endblock content%}

