{% extends "website/layouts/layout.html" %}    
{% load static %}

{% block content%}
<div id="page-content">
    <!-- Top banner-->
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>EXCHANGES, RETURNS AND REFUNDS</h1>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container cmspage">
    <p class="MsoNormal" style="margin-bottom:14.0pt;line-height:normal;background:
    white"><span style="font-family: 'Times New Roman', Times, serif; color: #333333;">"Boksha is an online marketplace that connects shoppers to designers. We act as an
    intermediary between both with a goal to protect the rights of each party. If
    your order is not up to expectations due to the designer’s fault, we will make
    sure the issue is resolved as per the policies mentioned below. However, note
    that there are situations that arise which don’t always cover the scenarios
    below, and hence we try our best to come up with a solution that is fair to
    both parties.</span></p><p class="MsoNormal" style="margin-bottom:14.0pt;line-height:normal;background:
    white"><b><span style="font-family: 'Times New Roman', Times, serif; color: black;">Customers are required to notify BOKSHA of a defective item within
    48 hours of receiving the shipment, otherwise it is deemed that the product was
    received in a good condition. <o:p></o:p></span></b></p><p class="MsoNormal" style="margin-bottom:14.0pt;line-height:normal;background:
    white"><b><u><span style="font-family: 'Times New Roman', Times, serif; color: #333333;">Exchanges<o:p></o:p></span></u></b></p><p class="MsoNormal" style="margin-bottom:14.0pt;line-height:normal;background:
    white"><span style="font-family: 'Times New Roman', Times, serif; color: black;">Exchanges
    are only allowed if an item is defective or not as described. Items should be returned
    within 7 days, unworn, unwashed, undamaged and unused with the original tags
    attached.&nbsp;</span><span style="font-family: 'Times New Roman', Times, serif; color: #333333;"> <o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:14.0pt;line-height:normal;background:
    white"><b><u><span style="font-family: 'Times New Roman', Times, serif; color: #333333;">Returns and Refunds<o:p></o:p></span></u></b></p><p class="MsoNormal" style="margin-bottom:14.0pt;line-height:normal;background:
    white"><span style="font-family: 'Times New Roman', Times, serif; color: black;">Returns
    are only allowed if an item is defective or not as described. Items should be returned
    within 7 days, unworn, unwashed, undamaged and unused with the original tags
    attached.&nbsp;<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:14.0pt;line-height:normal;background:
    white"><span style="font-family: 'Times New Roman', Times, serif; color: black;">Customers
    would be eligible for a refund, which would be made back to their same
    credit/debit cards. In the event a payment was done through bank transfer, the
    refund will be done through a Boksha credit.</span></p><p class="MsoNormal" style="margin-bottom:14.0pt;line-height:normal;background:
    white"><span style="font-family: 'Times New Roman', Times, serif; color:black;">Returns and refunds are not applicable for refusing to accept delivery of an order.</span></p><p class="MsoNormal" style="margin-bottom:14.0pt;line-height:normal;background:
    white"><span style="font-family: 'Times New Roman', Times, serif; color: black;"> <o:p></o:p></span></p><p class="MsoNormal" style="mso-margin-bottom-alt:auto;text-align:justify;
    line-height:normal;background:white"><b><u><span style="font-family: 'Times New Roman', Times, serif; color: #333333;"style="font-family: 'Times New Roman', Times, serif; color: #333333;">Cancellation</span></u></b><span style="font-family: 'Times New Roman', Times, serif; color: #333333;"><o:p></o:p></span></p><p class="MsoNormal" style="mso-margin-bottom-alt:auto;text-align:justify;
    line-height:normal;background:white"><span style="font-family: 'Times New Roman', Times, serif; color: black;">Shoppers can cancel their orders
    within 1 hour of purchase and refunds will be made back to the original mode of
    payment. Please allow for up to 45 days for the refund transfer to be completed
    and note that amount refunded will be net of bank processing charges. </span><span style="font-family: 'Times New Roman', Times, serif; color: #333333;"><o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom:14.0pt;line-height:normal;background:
    white"><b><u><span style="font-family: 'Times New Roman', Times, serif; color: #333333;">Contact Us<o:p></o:p></span></u></b></p><p class="MsoNormal" style="margin-bottom:14.0pt;line-height:normal;background:
    white">
<ul type="disc">
    <li class="MsoNormal" style="color:#333333;mso-margin-top-alt:auto;mso-margin-bottom-alt:
        auto;line-height:normal;mso-list:l0 level1 lfo1;tab-stops:list 36.0pt;
        background:white;vertical-align:baseline"><span  style="font-family: 'Times New Roman', Times, serif; color: #333333;">orders@gmail.com</span></a></span><span style="font-family: 'Times New Roman', Times, serif; "><o:p></o:p></span></li>
    <li class="MsoNormal" style="color:#333333;mso-margin-top-alt:auto;mso-margin-bottom-alt:
        auto;line-height:normal;mso-list:l0 level1 lfo1;tab-stops:list 36.0pt;
        background:white;vertical-align:baseline"><span style="font-family: 'Times New Roman', Times, serif; color: black;">Contact us on +971 50
        522 9555</span><span  style="font-family: 'Times New Roman', Times, serif; color: black;"><o:p></o:p></span></li>
    <li class="MsoNormal" style="color:#333333; mso-margin-top-alt:auto;  mso-margin-bottom-alt:
        auto;line-height:normal;mso-list:l0 level1 lfo1; tab-stops:list 36.0pt;
        background:white;vertical-align:baseline"><span style="font-family: 'Times New Roman', Times, serif; color: black;">Log in to your account,
        go to “My Account”, then click on “Shipment Returns” on your dashboard</span><span style="font-family: 'Times New Roman', Times, serif; color:black;"><o:p></o:p></span></li>
   </ul><p class="MsoNormal" style="margin-bottom:14.0pt;line-height:normal;background:
   white"><span style="font-family: 'Times New Roman', Times, serif; color:black;"><o:p><br></o:p></span></p></div>
   
    
    
    
    </div>
    <!--End Body Content-->
{% endblock content%}
